:root {
  --primaryColor: #00eaff;
  --secondaryColor: rgb(150, 162, 188);
  --projectCardColor: #1d5796;
  --textColor: #dae4fb;
}

.cards {
  margin-top: 1rem;
}

.cardsContainer {
  justify-content: space-between;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.singleCard {
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  height: 90%;
  background: var(--projectCardColor);
}

.singleCard:hover {
  transform: translateY(-7px);
  border-bottom: 2px solid var(--primaryColor);
}

.imgDiv {
  height: 220px;
  width: auto;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.imgDiv img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 5px;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardTitle {
  font-weight: 600;
  color: var(--textColor);
}

.desc {
  font-weight: 600;
  color: var(--secondaryColor);
}

.price {
  font-weight: 600;
  color: var(--secondaryColor);
  font-size: 20px;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .cards {
    width: 70%;
    margin: auto;
  }

  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1150px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .singleCard .price {
    font-size: 17px;
  }
  .singleCard .desc {
    font-size: 17px;
  }
}

@media screen and (min-width: 1240px) {
  .cards {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  padding: 8px 12px;
  font-size: 16px;
}

.pagination button.active {
  background-color: #00eaff;
  color: white;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}

@media screen and (max-width: 600px) {
  .pagination {
    flex-direction: row;
    align-items: center;
  }

  .pagination button {
    margin: 0 5px;
  }
}
