body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: white; /* Sayfa arkaplan rengi */
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 2000px; /* Sayfa genişliği sınırlaması */
  margin: 0 auto; /* Sayfayı yatayda ortala */
}

.column {
  flex: 1;
  box-sizing: border-box;
}

.left,
.right {
  flex-basis: 20%; /* %20 genişlik */
  background-color: white; /* Sağ ve sol sütun arkaplan rengi */
}

.center {
  flex-basis: 60%; /* %60 genişlik */
  background-color: red; /* Orta sütun arkaplan rengi */
}

.sidebar {
  padding: 20px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  max-height: 200px;
  overflow-y: auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  flex-basis: calc(25% - 20px);
  min-width: 45px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right,
  .center {
    flex-basis: 100%; /* Mobilde sütunlar dikey olacak */
  }

  .product-card {
    flex-basis: calc(50% - 20px); /* Telefon boyutunda 2'li sıralama */
  }

  .card {
    flex-basis: 100%; /* Kartlar dikey olacak */
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    flex-basis: 100%; /* Daha küçük boyutlarda tek sıralama */
  }
}
